@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  text-align: center;
}

.title {
  font-size: 3em;
  color: rebeccapurple;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.384);
}

.app input {
  height: 30px;
  background-color: rgba(102, 51, 153, 0.377);
  border: 2px solid rgba(102, 51, 153);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.app input:focus {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 2px solid rebeccapurple;
}

.submit-btn {
  position: relative;
  /* margin-right: 110px; */
  height: 36px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-bottom-right-radius: 20px;
  /* border-bottom-right-radius: 15px; */
}

.task {
  display: flex;
  margin: auto;
  width: 50%;
  padding: 0 15px;
  text-shadow: 3px 3px rgba(102, 51, 153, 0.582);
  background-image: linear-gradient(
    120deg,
    rgb(143, 73, 255),
    rgb(88, 16, 255)
  );
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.425);
}

.task h2 {
  text-align: left;
  width: 80%;
  word-wrap: break-word;
  color: white;
}

.task button {
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.task button:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

@media all and (max-width: 800px) {
  .task {
    width: 80%;
  }
}
